[submodule "platform_external_openssl"]
	path = platform_external_openssl
	url = https://github.com/android/platform_external_openssl.git
[submodule "tinc"]
	path = tinc
	url = git://tinc-vpn.org/tinc
	branch = 1.1

